dist/css/** linguist-documentation=false
dist/css/** linguist-vendored=false
dist/html/** linguist-documentation=false
dist/html/** linguist-vendored=false
dist/js/** linguist-documentation=false
dist/js/** linguist-vendored=false
dist/lib/** linguist-documentation
dist/lib/** linguist-vendored