dist/css/*.css linguist-documentation=false
dist/css/*.css linguist-vendored=false

dist/html/*.html linguist-documentation=false
dist/html/*.html linguist-vendored=false

dist/js/*.js linguist-documentation=false
dist/js/*.js linguist-vendored=false

dist/lib/*.js linguist-documentation
dist/lib/*.js linguist-vendored
